@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: .8rem 1rem 1rem 1rem;
    background-color: #b7b7a4;
}
header .logo{
    padding-left: 1rem;
    font-size: 1.5rem;
    color: red;
}
header .logo span{
    color: red;
}
header .nav a{
    font-size: 1rem;
    margin: 1.5rem;
    padding: .5rem;
    color: black;
}
header .nav .active,.link{
    border-radius: 1rem;
}
header .nav .social{
    margin-top: 2.5rem;
    border-radius: 50%;
    color: red;
}
header .nav .active:hover,.link:hover{
    color: white;
    background-color: red;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .nav .social:hover{
    color: blue;
    background-color: tansparent;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
#menu{
    font-size: 1rem;
    color: black;
    display: none;
}
#menu button{
    height: 2rem;
    width: 2rem;
    background-color: transparent;
}
#menu button:hover{
    cursor: pointer;
}
.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a {
    color: black;
    padding: .5rem;
    text-decoration: none;
    display: block;
}
.show{
    display: block;
}


.ghost{
    padding: 6rem 2rem 2rem 2rem;
}
.ghost h1{
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
}
.ghost h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ghost img{
    width: 50rem;
    margin-left: 15rem;
    margin-bottom: 1rem;
}
.ghost p{
    font-size: 1rem;
}
.ghost .box{
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: orange;
}
.ghost .box h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ghost .box form{
    display: flex;
    flex-direction: column;
    padding-left: 15rem;
}
.ghost .box form label{
    font-size: 1.2rem;
    font-weight: 500;
}
.ghost .box form input,select{
    font-size: 1rem;
    font-weight: normal;
    width: 45rem;
    padding: .3rem;
    border-radius: .5rem;
}
.ghost .box button{
    background-color: indigo;
    margin-top: 2rem;
    margin-left: 33rem;
    padding: .3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}


/* Media Querry */
@media screen and (max-width: 1240px){
    header .logo{
        font-size: 1.2rem;
        padding-left: .3rem;
    }
    header .logo span{
        margin-top: .7rem;
    }
    header .nav a{
        font-size: .8rem;
        margin: .4rem;
        padding: .2rem;
    }
    .ghost img{
        padding: 0rem;
        margin-left: 6rem;
    }
    .ghost .box form{
        padding-left: 1rem;
    }
    .ghost .box button{
        margin-left: 1rem;
    }
}
@media screen and (max-width: 980px){
    .ghost .box form input,select{
        width: 35rem;
    }
    .ghost img{
        padding: 0rem;
        margin-left: 0;
        width: 40rem;
    }
}
@media screen and (max-width: 760px){
    header .logo{
        font-size: 1.1rem;
        padding-left: .2rem;
    }
    header .logo span{
        margin-top: .6rem;
    }
    header .nav a{
        font-size: .7rem;
        margin: .3rem;
    }
    .ghost img{
        width: 35rem;
    }
    .ghost .box form input,select{
        width: 30rem;
    }
}
@media screen and (max-width: 680px){
    #menu{
        display: block;
    }
    header .logo{
        font-size: 1.2rem;
        padding-left: .3rem;
    }
    header .logo span{
        margin-top: .6rem;
    }
    header .nav{
        display: none;
    }
    .ghost h1{
        font-size: 1.5rem;
    }
    .ghost h2{
        font-size: 1rem;
    }
    .ghost img{
        width: 30rem;
    }
    .ghost p{
        font-size: 1rem;
    }
    .ghost .box form{
        padding-left: 0rem;
    }
    .ghost .box button{
        margin-left: 0rem;
    }
    .ghost .box form input,select{
        width: 25rem;
    }
}
@media screen and (max-width: 510px){
    #menu{
        font-size: 1.5rem;
    }
    .ghost img{
        width: 17rem;
    }
    .ghost .box form input,select{
        width: auto;
    }
    .ghost .box form label{
        font-size: 1rem;
    }
}
